<ul>
    {{#if viewData }}
    {{#each viewData.snippets}}
    <li>
        <div class="code">
            <p id="{{this.id}}"> {{this.snippet}} </p>
            <p id="creator">creator: {{this.creator}}</p>
            {{#if this.correctUser}}
            <a href="snippets/{{this.id}}/edit">Edit</a>
            <a href="snippets/{{this.id}}/remove">Delete</a>
            {{/if}}
        </div>
    </li>
    {{/each}}
</ul>
{{/if}}

{{#if user.email}}
<a href="/snippets/new">New snippet</a>
{{/if}}
